.DS_Store
ToDoServer/config/localdev-config.json
ToDoServer/.build/*
ToDoServer/.build-ubuntu/*
ToDoServer/ToDoServer.xcodeproj/*
ToDOServer/Package.resolved
KituraiOS/iOSKituraKitSample.xcodeproj/xcuserdata/*
KituraiOS/iOSKituraKitSample.xcodeproj/project.xcworkspace/xcuserdata/*

